<%- include('../partials/header');  %> 

<!-- Kui url-il midagi valesti ja lehte ei leitud -->

<p>Midagi läks valesti - lehte ei leitud!</p>

<a href="/">Avaleht</a><br>
<%- include('../partials/footer'); %>