<%- include('../partials/header');  %> 

<!-- Kui url-il id valesti ja andmeid ei leitud -->

<p>Midagi läks valesti - andmeid ei leitud!</p>

<a href="/">Avaleht</a><br>
<%- include('../partials/footer'); %>